/*============= gambar landing page============== */
.banner {
    /* background-image: url('{{asset('./img/Site/cover.png')}}') */
    /* background: url("{asset('./img/Site/cover.png')}") */
    /* background: url("./img/Site/cover.png"), */
     background-image: url("./cover.png");
     /* no-repeat center center; http://127.0.0.1:8000/img/Site/cover.png */
    background-size: cover;
    background-position: right;
    padding-top: 16%;
    padding-bottom: 16%;
    color: #2a2a2a;
}
.container2{
  margin-left: 50px;
}

/*============= nav bar ============== */
.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}
.wrapper .menu li{
  margin-right: 30px;
}
.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #364f6b;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
/*============= font ============== */
@font-face {
  font-family: poppins;
  src: url(font/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(font/Poppins-SemiBold.ttf);
}


body{
	font-family: 'poppins', sans-serif;
	color: #fff;
}

h5{
	font-family: 'poppins-bold';
	font-size: 120pt;
  color: #5544A8;
}

h3{
	font-family: 'poppins';
	font-size: 120pt;
  color: #2a2a2a;
}

p{
	font-family: 'poppins';
	font-size: 16pt;
  color: #fff;
}
/*============= frame layanan kami============== */
.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #5544A8;
  }

  .lingkaran i {
    position: relative;
    top: 30px;
  }

/*============= Team Style ============== */
.team-section .single-team {
  padding: 30px;
  margin-bottom: 30px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 77px rgba(178, 183, 190, 0.06);
  transition: all 0.3s ease-out 0s;
}

.team-section .single-team:hover {
  box-shadow: 0px 0px 77px rgba(178, 183, 190, 0.2);
}

.team-section .single-team .image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 25px;
}

.team-section .single-team .image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.team-section .single-team .content p{
  color: #5544A8;
}
.team-section .single-team .content h4 {
  margin-bottom: 8px;
}

.team-section .single-team .content p {
  margin-bottom: 10px;
}

/*============= Team Style End ============== */

/*============= Kontak Style ============== */

.section-title h1 {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.section-title h1 .title-shape {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.section-title h1 .title-shape.left {
  left: 0;
  right: auto;
}

.section-title p {
  font-size: 18px;
  line-height: 28px;
}
.cta-section .cta-wrapper {
  padding: 90px 80px 70px;
  background: #fff;
  box-shadow: 0px 0px 77px rgba(178, 183, 190, 0.2);
}

@media (max-width: 767px) {
  .cta-section .cta-wrapper {
    padding: 70px 30px;
  }
}

.contact-section {
  background: #f6f6f6;
}

.contact-section form .single-form {
  margin-bottom: 20px;
}

.contact-section form .single-form textarea,
.contact-section form .single-form input {
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 15px 35px;
  color: #5a5959;
  transition: all 0.3s ease-out 0s;
}

.contact-section form .single-form textarea:focus,
.contact-section form .single-form input:focus {
  border-color: #272729;
}

.contact-section form .single-form textarea::placeholder,
.contact-section form .single-form input::placeholder {
  opacity: 1;
}

.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 18px 40px;
  font-size: 18px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: none;
  background: #5544A8;
  overflow: hidden;
}

.secondary-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 18px 40px;
  font-size: 18px;
  border-color: #5544A8;
  background-color: #FFDB24;
  border-radius: 8px ;
  color: #5544A8;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;

}



/*============= Kontak Style End ============== */


/*============= Footer Style End ============== */
.ShopFooter{
  padding: 40px;
  background-color: #4D77FF;
}
/*============= Footer Style End ============== */
